@import url("/static/content_form.css");

body {
    text-align: center;
    font: small arial,sans-serif;
    background: black;
    color: white;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
}

h1, h2, h3, h4, h5 {
    clear: both;
    padding: 0;
    margin: 1.3em 0 -0.6em;
}

p {
    clear: both;
    margin: 0 0 6 0;
    line-height: 160%;
}

code {
    display: block;
    float: left;
    width: 70%;
    min-width: 450px;
    max-width: 700px;
    margin: 0 0 15px 0;
    padding: 10px;
    background: #ffc;
    border: 1px solid #999;
    font: 12px monospace;
    color: black;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: left;
    background: url("/static/logo.jpg") no-repeat;
}

#user {
    float: right;
    margin: 20px 50px;
    color: #a00;
}

#user a {
    text-decoration: none;
    color: #a00;
}

#menu {
    padding: 136px 0 0 65px;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu ul li {
    display: inline-block;
    margin: 0 1em 0 0;
    padding: 0;
}

#menu ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #a00;
}

#menu ul li a:hover, #menu ul li a.active {
    color: #399;
}

#search {
    float: right;
    margin-top: -4px;
}

#search input#q {
    width: 197px;
    padding-left: 3px;
    border: 2px solid #a98;
    -moz-border-radius:3px;
    border-radius:3px;
    background: white url("/static/google_custom_search_watermark.gif") left no-repeat;
}

#breadcrumbs {
    clear: both;
    padding: 1px 65px 2px;
    border-top: 1px solid #a00;
    border-bottom: 1px solid #a00;
    color: #79c;
}

#breadcrumbs div {
    color: #ffd;
}

#breadcrumbs a {
    color: #a98;/*fe9,79c*/
}

#content {
    min-height: 400px;
    padding: 0 30px 0 65px;
}

#content table#bbs {
    margin-top: 10px;
}

#content table#bbs td {
    padding: 0 20px 4px 0;
}

#content #post {
    padding: 10px;
    background: white;
    border: 1px solid #999;
    color: black;
}

#content ul.thread {
    list-style-type: none;
    margin: 10px 0 20px 1.5em;
    padding: 0;
}

#content ul.thread ul {
    margin: 0 1.5em;
}

#content ul.thread li {
    margin: 0 0 1px 0;
    padding: 0;
}

#content ul.thread li a {
    font-weight: bold;
}

#content ul.thread li a.black {
    font-weight: normal;
    color: white;
}

#content table#profile th, #content table#profile td {
    vertical-align: top;
    text-align: left;
    padding: 0 20px 10px 0;
}

#content table#profile th {
    width: 100px;
}

#content table#profile th div {
    width: 100%;
    min-height: 110px;
}

#content table#profile #pic {
    margin-bottom: 20px;
    background: url("/static/alien.png") no-repeat center center;
}

#pic a {
    display: block;
    float: left;
    width: 100px;
    height: 110px;
    opacity: 0;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
}

#content table#profile td table td {
    padding-bottom: 3px;
}

table.padded th {
    padding: 0 20px 3px 0;
}

table.padded td {
    padding: 0 20px 10px 0;
}

#content a {
    color: #f77901;
}

#content a:visited {
    color: #739;
}

#content table.normal th, #content table.normal td {
    text-align: left;
    vertical-align: top;
    padding: 0 20px 10px 0;
}

#content a.black {
    color: black;
    text-decoration: none;
}

#broadcast {
    text-align: center;
}

#dateline {
    margin: 21px -10px 25px -25px;
    padding: 1ex 0 0 25px;
    border-top: 1px solid #333;
    color: #aaa;
}

#dateline a, #dateline a:visited {
    color: #a98;
}
