$def with (chapter, members, bikes, next_event, blog, expand_blog, recent_events, controls, can_join)

<h2>$chapter.name Chapter</h2>
<div id="chapter-wrap">
<table id="profile">
<tr>
    <th><div>Founded</div></th>
    <td>$chapter.founded

$if chapter.founder != chapter.centurion:
    by <a href="/profile?user=$chapter.founder">$chapter.founder</a>

</td>
</tr>
<tr>
    <th><div>Members</div></th>
    <td>
        $members
    </td>
</tr>
<tr>
    <th><div>Leader</div></th>
    <td><a href="/profile?user=$chapter.centurion">$chapter.centurion</a></td>
</tr>
<tr>
    <th><div>Bikes</div></th>
    <td>

$for bike in bikes:
    $bike.bike
    $if bike.count > 1:
        ($bike.count)
    <br />

</td>

$if next_event:
    <tr>
    <th><div>Next Event</div></th>
    <td><a href="/event/$next_event.id">$next_event.name</a> <em>&emsp;$next_event.human_date</em><div>$:next_event.teaser</div></td>
    </tr>

</tr>

$if can_join:
    <tr><th></th>
    <td><a href="/join?chapter=$chapter.name">join this chapter</a></td>
    </tr>
$elif controls.prefect:
    <tr id="event_form"><th></th>
    <td><a href="#">create an event</a><span id="chapter_id">$chapter.id</span></td>
    </tr>

</table>


<div id="add-pics"

$if chapter.pic:
    style="background: url(/static/upload/$chapter.pic) center center no-repeat"

>

$if controls.centurion:
    <a href="#">&nbsp;</a>
$else:
    &nbsp;

</div>
<div id="chapter-blurb">
$:chapter.blurb
</div>

$if recent_events:
    <h2>Recent events</h2>
    $for event in recent_events:
        <h4><a href="/event/$event.id">$event.name</a> <em>&emsp;$event.human_date</em></h4>
        $:event.wrapup

$if blog:
    <h2>Blog</h2>
    <h4>$blog.title <em>&emsp;$blog.human_date</em></h4>
    $:blog.content
    $if expand_blog == False:
        <p><a href="/chapter/$chapter.name?expand_blog=t">show prior entries</a></p>

$if expand_blog:
    $for b in expand_blog:
        <h4>$b.title <em>&emsp;$b.human_date</em></h4>
        $:b.content

</div>
