$def with (event, begins, chapter)

<td colspan="2">
<form name="event_form" action="/event" method="post">
<fieldset>
<legend>Event details</legend>
<label for="name" id="name-label">Event name</label>
<input name="name" id="name" type="text required"

$if event:
    value="$event.name"

/><br />
<label for="begins" id="begins-label">Start date &amp; time</label>
<input name="begins" id="begins" type="text required"

$if event:
    value="$event.begins"
$else:
    value="$begins"

/><br />
<label for="duration" id="duration-label">Duration (hh:mm)</label>
<input name="duration" id="duration" type="text required"

$if event:
    value="$event.duration"
$else:
    value="05:00"

/><br /><br />
<label for="teaser" id="teaser-label">Teaser</label>
$if event:
    <textarea name="teaser" id="teaser" class="text area_wide required">$:event.teaser</textarea>
$else:
    <textarea name="teaser" id="teaser" class="text area_wide required"></textarea>

</fieldset>

$if event:
    <input type="hidden" name="event" value="$event.id" />
    <input type="hidden" name="chapter" value="$event.chapter" />
$else:
    <input type="hidden" name="chapter" value="$chapter" />

<input type="submit"

$if event:
    value="update event"
$else:
    value="create event"

/>
</form>
</td>
