$def with (event, attendees, gallery, editable, wrapupable, can_attend)

<div id="frap">
<h2>$event.name</h2>
<p>

$if event.wrapup:
    <div>$:event.wrapup</div>
$else:
    <div>$:event.teaser</div>

$if attendees:
    <h2>Attendees</h2>
    <ul>
    $for attendee in attendees:
        <li><a href="profile?user=$attendee">$attendee</a></li>
    </ul>

</p>
</div>

$if gallery:
    <h2>Gallery</h2>
    <p>
    <!-- TODO: generate smaller thumbs and make some kind of slide viewer (for visual appeal, but also bandwidth preservation) -->
    $for pic in gallery:
        <img src="/static/upload/$pic" />
    </p>

$if editable:
    <p><div id="add-pics"><a href="#">add pics</a></div></p>

$if wrapupable:
    <p><div id="wrap-up"><a href="#">wrap up</a></div></p>

$if can_attend:
    <p><a href="/attend?event=$event.id">register to attend this event</a></p>
