$def with (member, post, ancestors, descendants, board)

$if post:
    <h2>$post.subject</h2>
    <p>$:ancestors</p>
    <div id="post">$:post.content<p>&minus; <a class="black" href="profile?user=$post.member">$post.member</a></p></div>
    $:descendants
$else:
    <h2>New topic</h2>

$if member:
    <form name="post" action="post" method="post">
    <fieldset>
    <legend>post details</legend>
    <label for="title">Subject</label>
    <input class="text" name="subject" id="subject"
    $if post:
        $if post.subject.lower().find('re:') != -1:
            value="$post.subject"
        $else:
            value="Re: $post.subject"
    /><br /><br />
    <label for="body">Body (you can use
    <a target="_blank" href="http://daringfireball.net/projects/markdown/basics">markdown</a>
    here)</label><br />
    <textarea class="text area_wide" name="content"></textarea>
    </fieldset>
    <input type="submit"
    $if post:
        value="post comment"
    $else:
        value="post"
    />
    $if post:
        <input type="hidden" name="board" value="$post.board" />
        <input type="hidden" name="parent" value="$post.id" />
    $else:
        $if board:
            <input type="hidden" name="board" value="$board" />
        $else:
            <input type="hidden" name="board" value="1" />
    </form>
