$def with (user, blog, expand_blog, recent_posts, pages, show)

<h2>$user.name</h2>
<p>
<table id="profile">
<tr>
<th>
<div id="add-pics"

$if user.pic:
    style="background: url(/static/upload/$user.pic) center center no-repeat"

>

$if show.blog_link:
    <a href="#">&nbsp;</a>
$else:
    &nbsp;

</div>
</th>
<td id="stats">

$if show.gallery:
    <div id="gallery-link"><a href="/gallery?user=$user.name"><img src="/static/image-lib.png" /></a></div>

<div

$if show.gallery:
    class="pushed-up"

>
<strong>$user.level_name.capitalize()</strong>

$if show.presidential_controls or show.prefect_controls:
    (
    $if show.presidential_controls:
        <a title="level up" href="/level_up?user=$user.name">++</a>&ensp;
    $if show.prefect_controls:
        <a title="punish" href="/troglify?user=$user.name">&minus;&minus;</a>&ensp;
        <a title="lock account" href="/lock?user=$user.name">X</a>
    )

</div>
<p>Member since: $user.human_date</p>

$if show.blog_link:
    <p><a href="/blog_create">new blog post</a></p>

</td>
</tr>

$if blog:
    <tr>
    <th><div>$blog.human_date</div></th>
    <td>
    <div><strong>$blog.title</strong>
    $if show.blog_link:
        (<a href="blog_edit?bid=$blog.id">edit</a>)
    </div>
    $:blog.content
    $if expand_blog == False:
        <p><a href="/profile?user=$user.name&expand_blog=t">show prior entries</a></p>
    </td>
    </tr>

$if expand_blog:
    $for b in expand_blog:
        <tr>
        <th><div>$b.human_date</div></th>
        <td>
        <div><strong>$b.title</strong>
        $if show.blog_link:
            (<a href="blog?bid=$b.id&edit=t">edit</a>)
        </div>
        $:b.content
        </td>
        </tr>

$if recent_posts:
    <tr>
    <th><div>Recent forum activity</div></th>
    <td>
    <table>
    $for post in recent_posts:
        <tr><td><strong><a href="/post?pid=$post.id">$post.subject</a></strong></td></tr>
    </table>
    </td>
    </tr>

$if pages:
    <tr>
    <th><div>Maintainer of</div></th>
    <td>
    <table> 
    $for page in pages:
        <tr><td>/$page.path</td><td><a href="/$page.path">$page.name</a></td></tr>
    </table>
    </td>
    </tr>

</table>
</p>
