$def with ()

            <form name="pic_upload" action="upload_profile_pic" enctype="multipart/form-data" method="post">
                <fieldset>
                    <legend>Upload profile picture</legend>
                    <label for="file">Jpeg, png or gif, please...</label>
                    <input name="file" id="file" type="file" /><br /><br />
                    All images are displayed cropped to 100 x 110 pixels.
                </fieldset>
                <input type="submit" value="upload to profile" />
            </form>
